.app {
  height: 100vh;
  display: flex;
  background: linear-gradient(
    105.37deg,
    #273895 3.98%,
    #1c6397 34.14%,
    #0d9b9a 74.12%,
    #00cf9d 95.47%
  );
}

.instructions {
  flex: 3.5;
}

.chatbox {
  flex: 3.5;
  margin: 50px 0;
  filter: drop-shadow(1px 4px 120px #ffffff);
  border: 0.2px solid rgba(204, 204, 204, 0.247);
  border-radius: 20px;
}

.params {
  flex: 3.5;
}

.chatbox-wrapper {
  background-color: #ffffff52;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  justify-content: space-evenly;
}

/* ------- messages */

.chatbox-top {
  height: 70px;
}

.chatbox-middle {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
  padding-left: 5px;
  background-color: rgba(255, 255, 255, 0.575);
}

.chatbox-bottom {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.chatbox-middle {
  height: 500px;
}

.message-wrapper {
  display: flex;
}

.message-wrapper.own {
  justify-content: end;
  padding: 0 10px;
}
.message {
  padding: 10px;
  border-radius: 20px;
  background-color: #5eadb8;

  max-width: 70%;
}

.message.own {
  background-color: #6a99bb;
}

/* ------- submit messages */

textarea {
  width: 80%;
  height: 50px;
  padding: 10px;
  resize: none;
  border: none;
  border-radius: 10px;
}

.chat-submit-message {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

textarea:focus,
.chat-submit-message.focus {
  outline: none;
}

.delete-conversation-button {
  background-color: white;
  opacity: 50%;
  border: none;
  color: black;
  height: 60px;
  width: 300px;
  border-radius: 10px;
  margin: 10px 0px;
}

/* ------- params */

.params-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------- presentation */

.presentation-text {
  background-color: white;
  opacity: 50%;
  border-radius: 10px;
  margin: 10px 0px;

  width: 300px;
  margin: 50px auto auto auto;
  padding: 10px;
}

.presentation-paragraph {
  text-align: center;
  vertical-align: middle;
}
