.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    105.37deg,
    #273895 3.98%,
    #1c6397 34.14%,
    #0d9b9a 74.12%,
    #00cf9d 95.47%
  );
}

.chatbox {
  /* background-color: white; */
  height: 550px;
  width: 300px;
  margin: auto;
  max-height: 80%;

  max-width: 80%;
  margin-top: 100px;
  filter: drop-shadow(1px 4px 120px #ffffff);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* align-content: stretch; */
  gap: 0px;
  row-gap: 0px;
  flex-grow: 1;
  border: 0.2px solid rgba(204, 204, 204, 0.247);
}

.top {
  background-color: white;
  flex-grow: 1;
  height: 10%;
  opacity: 60%;
  border-radius: 20px 20px 0 0;
}

.messages {
  flex-grow: 1;

  top: 40px;
  left: 0px;
  height: 80%;
  background-color: white;
  opacity: 80%;
}

.bottom {
  flex-grow: 1;
  background-color: white;
  opacity: 60%;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: row;
}

textarea {
  width: 200px;
  margin: 8px auto 8px 20px;
  height: 30px;
  border-radius: 20px;
  background: white;
  opacity: 80%;
  resize: none;
  border: none;
  padding-left: 10px;
}

textarea:focus,
button:focus {
  outline: none;
}

.message-btn {
  width: 20px;
  margin: 8px 20px auto auto;
  background: white;
  opacity: 80%;
  border: none;
}

/* ---  */

.modal-open {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3d348b57;
}

.modal-inside {
  text-align: center;
  margin-left: 500px;
}
